src/main/resources/wsdl/reorderChkbook.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '1.2'. -->
<definitions targetNamespace="http://www.IBCBOC1A.IBCB1IN.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.IBCBOC1A.IBCB1IN.Request.com" xmlns:resns="http://www.IBCBOC1A.IBCB1IN.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.IBCBOC1A.IBCB1IN.com">
   <types>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.IBCBOC1A.IBCB1IN.Request.com" xmlns:tns="http://www.IBCBOC1A.IBCB1IN.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:56:45 UTC 2015
com.ibm.cics.wsdl.properties.mappingLevel=1.2
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="wsi_ibcboc01" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="wsi_ctl1" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:56:49 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_ctl2" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:56:58 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_ctl3" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:57:07 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_ctl4" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:57:33 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_account" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:57:58 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="12"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_account_jai" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:58:40 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_amount" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 13:59:25 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="7"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_no_checks" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:00:48 UTC 2015
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedShort">
                                 <xsd:maxInclusive value="99"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_rm_number" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:01:54 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wsi_message" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:03:04 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="IBCBOC1AOperation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.IBCBOC1A.IBCB1IN.Response.com" xmlns:tns="http://www.IBCBOC1A.IBCB1IN.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:04:29 UTC 2015
com.ibm.cics.wsdl.properties.mappingLevel=1.2
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="wso_ibcboc01" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="wso_ctl1" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:04:34 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_ctl2" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:04:41 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_ctl3" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:05:00 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_ctl4" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:05:28 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_account" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:06:15 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="12"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_account_jai" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:07:40 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_amount" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:09:14 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="7"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_no_checks" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:10:26 UTC 2015
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:unsignedShort">
                                 <xsd:maxInclusive value="99"/>
                                 <xsd:minInclusive value="0"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_rm_number" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:12:07 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="wso_message" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Tue Jan 06 14:16:08 UTC 2015
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="30"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="IBCBOC1AOperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="IBCBOC1AOperationRequest">
      <part element="reqns:IBCBOC1AOperation" name="RequestPart"/>
   </message>
   <message name="IBCBOC1AOperationResponse">
      <part element="resns:IBCBOC1AOperationResponse" name="ResponsePart"/>
   </message>
   <portType name="IBCBOC1APort">
      <operation name="IBCBOC1AOperation">
         <input message="tns:IBCBOC1AOperationRequest" name="IBCBOC1AOperationRequest"/>
         <output message="tns:IBCBOC1AOperationResponse" name="IBCBOC1AOperationResponse"/>
      </operation>
   </portType>
   <binding name="IBCBOC1AHTTPSoapBinding" type="tns:IBCBOC1APort">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <!-- This soap:binding indicates the use of SOAP 1.2 -->
      <!-- <soap:binding style="document" transport="http://www.w3.org/2003/05/soap-http"/> -->
      <operation name="IBCBOC1AOperation">
         <soap:operation soapAction="" style="document"/>
         <input name="IBCBOC1AOperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="IBCBOC1AOperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="IBCBOC1AService">
      <port binding="tns:IBCBOC1AHTTPSoapBinding" name="IBCBOC1APort">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://my-server:my-port/reorderChkbook"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="https://my-server:my-port/reorderChkbook"/> -->
         <!-- This soap:address indicates the location of the Web service over MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/reorderChkbook&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>
